﻿<section class="p-t-10">
    <div class="slider">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin: auto;">
                <div class="carousel-caption">
                    <h4>Slide {{slide.id}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>
        <form class="form check-in" name="bookingForm">
            <div class="col-lg-3">
                <div class="date-picker well p-t-20">
                    <div class="form-group">
                        <label>Check-in </label>
                        <input type="text"
                               ng-required="true"
                               class="form-control">
                        <div class="input-group date"
                             date-picker
                             ng-model="checkInDate"
                             date="checkInDate">
                            <input type="text"
                                   ng-required="true"
                                   class="form-control">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Check-out </label>
                        <div class="input-group date"
                             date-picker
                             ng-model="checkOutDate"
                             date="checkOutDate">
                            <input type="text"
                                   ng-required="true"
                                   class="form-control">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Hostel</label>
                        <select class="form-control"
                                ng-model="hostel"
                                ng-options="item.value as item.name for item in hostelList">
                            <option value="">Select hostel</option>
                        </select>
                    </div>
                    <div class="form-group p-t-10">
                        <button type="submit" class="btn btn-primary"
                                ng-click="vm.submit()">
                            Book Now
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>