<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <!-- inject:css -->
    <link rel="stylesheet" href="/src/libraries/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/src/libraries/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
    <link rel="stylesheet" href="/src/css/main.css">
    <!-- endinject -->
</head>
<body ng-app="app">
    <div class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" ui-sref="home">Logo</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav">
                <li class="nav-item" ui-sref-active="active"><a class="nav-item nav-link" ui-sref="home">Home</a></li>
                <li class="nav-item" ui-sref-active="active"><a class="nav-item nav-link" ui-sref="booking">Booking</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-item nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        Hostels
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li ng-repeat="hostel in ['Tribee Kinh','Tribee Cham']">
                            <a href ui-sref="hostel({hostel})">{{hostel}}</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item" ui-sref-active="active"><a class="nav-item nav-link" ui-sref="contact">Contact</a></li>
            </ul>
        </div><!-- /.container-fluid -->
    </div>
    <div class="container" ui-view></div>
    <!-- inject:js -->
    <script src="/src/libraries/angular/angular.js"></script>
    <script src="/src/libraries/angular-mocks/angular-mocks.js"></script>
    <script src="/src/libraries/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="/src/libraries/angular-apimock/dist/angular-apimock.js"></script>
    <script src="/src/libraries/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="/src/libraries/jQuery/dist/jquery.js"></script>
    <script src="/src/libraries/jquery/dist/jquery.js"></script>
    <script src="/src/libraries/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/src/libraries/auth0-lock/build/auth0-lock.js"></script>
    <script src="/src/libraries/auth0.js/build/auth0.js"></script>
    <script src="/src/libraries/auth0-angular/build/auth0-angular.js"></script>
    <script src="/src/libraries/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/src/app/components/index.module.js"></script>
    <script src="/src/app/components/booking/booking.controller.js"></script>
    <script src="/src/app/components/booking/booking.route.js"></script>
    <script src="/src/app/components/home/home.controller.js"></script>
    <script src="/src/app/components/home/home.route.js"></script>
    <script src="/src/app/components/hostels/hostel.controller.js"></script>
    <script src="/src/app/components/hostels/hostel.route.js"></script>
    <script src="/src/app/components/rooms/room.controller.js"></script>
    <script src="/src/app/components/rooms/room.route.js"></script>
    <script src="/src/app/services/home.service.js"></script>
    <script src="/src/app/directives/date-picker.directive.js"></script>
    <script src="/src/app/directives/popover.directive.js"></script>
    <script src="/src/app/directives/table-sorting.directive.js"></script>
    <script src="/src/app/directives/tooltips.directive.js"></script>
    <script src="/src/app/config/auth0.config.js"></script>
    <script src="/src/app/constants/tribee.constant.js"></script>
    <!-- endinject -->
</body>
</html>
