﻿section {
    min-height: 300px;

    > .slider {
        min-height: 300px;
    }
}

.form-inline {
    > .form-group {
        padding-right: 20px;
    }
}

@width-range: 800;
@padding-range: 30;
@pixel-base: 1px;

.width-helper() {
    .width-helper(@index) when (@index =< @width-range) {
        @item: ~".width-@{index}";

        @{item} {
            width: @index * @pixel-base;
        }

        .width-helper(@index + 10)
    }

    .width-helper(10)
}

.padding-helper() {
    .padding-helper(@index) when (@index =< @padding-range) {
        @paddingTop: ~".p-t-@{index}";

        @{paddingTop} {
            padding-top: @index * @pixel-base;
        }

        @paddingBottom: ~".p-b-@{index}";

        @{paddingBottom} {
            padding-bottom: @index * @pixel-base;
        }

        .padding-helper(@index + 5)
    }

    .padding-helper(5)
}

.width-helper();
.padding-helper();
