﻿section {
  min-height: 300px;
}
section > .slider {
  min-height: 300px;
}
.form-inline > .form-group {
  padding-right: 20px;
}
.width-10 {
  width: 10px;
}
.width-20 {
  width: 20px;
}
.width-30 {
  width: 30px;
}
.width-40 {
  width: 40px;
}
.width-50 {
  width: 50px;
}
.width-60 {
  width: 60px;
}
.width-70 {
  width: 70px;
}
.width-80 {
  width: 80px;
}
.width-90 {
  width: 90px;
}
.width-100 {
  width: 100px;
}
.width-110 {
  width: 110px;
}
.width-120 {
  width: 120px;
}
.width-130 {
  width: 130px;
}
.width-140 {
  width: 140px;
}
.width-150 {
  width: 150px;
}
.width-160 {
  width: 160px;
}
.width-170 {
  width: 170px;
}
.width-180 {
  width: 180px;
}
.width-190 {
  width: 190px;
}
.width-200 {
  width: 200px;
}
.width-210 {
  width: 210px;
}
.width-220 {
  width: 220px;
}
.width-230 {
  width: 230px;
}
.width-240 {
  width: 240px;
}
.width-250 {
  width: 250px;
}
.width-260 {
  width: 260px;
}
.width-270 {
  width: 270px;
}
.width-280 {
  width: 280px;
}
.width-290 {
  width: 290px;
}
.width-300 {
  width: 300px;
}
.width-310 {
  width: 310px;
}
.width-320 {
  width: 320px;
}
.width-330 {
  width: 330px;
}
.width-340 {
  width: 340px;
}
.width-350 {
  width: 350px;
}
.width-360 {
  width: 360px;
}
.width-370 {
  width: 370px;
}
.width-380 {
  width: 380px;
}
.width-390 {
  width: 390px;
}
.width-400 {
  width: 400px;
}
.width-410 {
  width: 410px;
}
.width-420 {
  width: 420px;
}
.width-430 {
  width: 430px;
}
.width-440 {
  width: 440px;
}
.width-450 {
  width: 450px;
}
.width-460 {
  width: 460px;
}
.width-470 {
  width: 470px;
}
.width-480 {
  width: 480px;
}
.width-490 {
  width: 490px;
}
.width-500 {
  width: 500px;
}
.width-510 {
  width: 510px;
}
.width-520 {
  width: 520px;
}
.width-530 {
  width: 530px;
}
.width-540 {
  width: 540px;
}
.width-550 {
  width: 550px;
}
.width-560 {
  width: 560px;
}
.width-570 {
  width: 570px;
}
.width-580 {
  width: 580px;
}
.width-590 {
  width: 590px;
}
.width-600 {
  width: 600px;
}
.width-610 {
  width: 610px;
}
.width-620 {
  width: 620px;
}
.width-630 {
  width: 630px;
}
.width-640 {
  width: 640px;
}
.width-650 {
  width: 650px;
}
.width-660 {
  width: 660px;
}
.width-670 {
  width: 670px;
}
.width-680 {
  width: 680px;
}
.width-690 {
  width: 690px;
}
.width-700 {
  width: 700px;
}
.width-710 {
  width: 710px;
}
.width-720 {
  width: 720px;
}
.width-730 {
  width: 730px;
}
.width-740 {
  width: 740px;
}
.width-750 {
  width: 750px;
}
.width-760 {
  width: 760px;
}
.width-770 {
  width: 770px;
}
.width-780 {
  width: 780px;
}
.width-790 {
  width: 790px;
}
.width-800 {
  width: 800px;
}
.p-t-5 {
  padding-top: 5px;
}
.p-b-5 {
  padding-bottom: 5px;
}
.p-t-10 {
  padding-top: 10px;
}
.p-b-10 {
  padding-bottom: 10px;
}
.p-t-15 {
  padding-top: 15px;
}
.p-b-15 {
  padding-bottom: 15px;
}
.p-t-20 {
  padding-top: 20px;
}
.p-b-20 {
  padding-bottom: 20px;
}
.p-t-25 {
  padding-top: 25px;
}
.p-b-25 {
  padding-bottom: 25px;
}
.p-t-30 {
  padding-top: 30px;
}
.p-b-30 {
  padding-bottom: 30px;
}