﻿<section class="p-t-10">
    <div class="slider">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin: auto;">
                <div class="carousel-caption">
                    <h4>Slide {{slide.id}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>
        <div class="row check-in">
            <div class="col-lg-3">
                <div class="date-picker well p-t-20">
                    <div class="form-group">
                        <label>Check-in </label>
                        <div class="input-group date"
                             date-picker
                             ng-model="checkInDate"
                             date="checkInDate">
                            <input type="text"
                                   class="form-control">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Check-out </label>
                        <div class="input-group date"
                             date-picker
                             ng-model="checkOutDate"
                             date="checkOutDate">
                            <input type="text"
                                   class="form-control">
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Hostel</label>
                        <select class="form-control"
                                ng-model="hostel"
                                ng-options="item.value as item.name for item in hostelList">
                            <option value="">Select hostel</option>
                        </select>
                    </div>
                    <div class="form-group p-t-10">
                        <a class="btn btn-primary"
                           ui-sref="^.booking({checkIn: checkInDate, checkOut: checkOutDate, hostel: hostel })">
                            Book Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>