﻿<section class="p-t-10 well well-lg">
    <div class="slider">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slides track by slide.id" index="slide.id">
                <img ng-src="{{slide.image}}" style="margin: auto;">
                <div class="carousel-caption">
                    <h4>Slide {{slide.id}}</h4>
                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>
    </div>
    <form class="form-inline">
        <div class="form-group">
            <label class="">Check-in</label>
            <div date-picker
                 ng-model="checkInDate"
                 date="checkInDate"
                 class="input-group date">
                <input type="text"
                       class="form-control">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="">Check-out</label>
            <div class="input-group date"
                 date-picker
                 date="checkOutDate"
                 ng-model="checkOutDate">
                <input class="form-control"
                       type="text">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="">Hostel</label>
            <select class="form-control"
                    ng-model="hostel">
                <option value="">Select hostel</option>
                <option ng-repeat="item in hostelList" value={{item.value}}>{{item.name}}</option>
            </select>
        </div>
        <div class="form-group">
            <a class="btn btn-primary"
               ui-sref="^.booking({checkIn: checkInDate, checkOut: checkOutDate, hostel: hostel })">
                Check Availability
            </a>
        </div>
    </form>
</section>